<div class="form">
  <span>Dark theme</span>
  <label class="switch">
    <input [(ngModel)]="dark" type="checkbox" />
    <span class="slider round"></span>
  </label>
  <button type="button" (click)="changeCurrentFile()">Change current file</button>
</div>
<monaco-tree
  [theme]="dark() ? 'vs-dark' : 'vs-light'"
  [tree]="tree"
  [(currentFile)]="currentFile"
  (dragDropFile)="handleDragDrop($event)"
  (clickContextMenu)="handleContextMenu($event)"
></monaco-tree>
<span>Current file : {{ currentFile() }}</span>
